*{
    margin: 0; padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none; color: #fff;
}
body{
    font-family: 'Myriad Pro';
    font-size: 16px;
    line-height: 24px;
    background: url(../images/main/bg_colog.png) repeat-x center top;
    min-width: 1320px;


}
#top{
    
    height: 1100px;

    
}
.margin{
    margin: auto;
    width: 1320px;

}
.menu{
    position: absolute;
    top: 52px;
    left: 50%;
    margin-left: -255px;
    background-color: #7c7d9e;
    border: 1px solid #fff;
    border-radius:50px; 
    padding: 0 20px;
    z-index: 9999;
    
}

.menu li{
    float: left;
    padding: 10px 20px;
}
.menu li a{
    color: #fff;
}

.banner{
    background: url(../images/main/top_main.png) no-repeat center ;
    height: 1100px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    

}

    
    


.round{
    background: url(../images/main/main_round.png) no-repeat center top 300px;
    height: 1500px;
    
 
}
.margin2{
    width: 1320px;
    margin: auto;
    height: 1500px;
   position: relative;
   
   
    
}
/*icon*/
.icon0{
    
    color: #fff;
    position: absolute;
    top: 40px;
    left: 228px;
}
.icon1{
    
    color: #fff;
    position: absolute;
    top: 454px;
    left: 119px;
}

.icon2{
    
    color: #fff;
    position: absolute;
    top: 755px;
    left: 108px;
}

.icon3{
    
    color: #fff;
    position: absolute;
    top: 1008px;
    left: 396px;
}
.icon4{
    
    color: #fff;
    position: absolute;
    top: 1320px;
    left: 900px;
}
.icon5{
    
    color: #fff;
    position: absolute;
    top: 810px;
    left: 802px;
}
.icon6{
    
    color: #fff;
    position: absolute;
    top: 490px;
    left: 794px;
}
.icon7{

    position: absolute;
    top: 600px;
    left: 430px;
}

/*font*/
.icon00 a{
    display: block;
    color: #fff;
    position: absolute;  
    background-color: #313751;
    border-radius: 50px;
    padding: 0 20px;

}
.icon00 p{
    opacity: 0;
}
.icon00:hover p{
    opacity: 1;
    transition: opacity 0.5s;
}
.icon01 a{
    top: 1028px;
    left: 108px;
}
.icon01_img{
    position: absolute;
    top: 728px;
    left: 3px;
}
.icon02 a{
    top: 1282px;
    left: 426px;
}
.icon02_img{
    position: absolute;
    top: 950px;
    left: 520px;
}

.icon03 a{
    top: 1400px;
    left: 1080px;
}
.icon03_img{
    position: absolute;
    top: 1180px;
    left: 900px;
}

.icon04 a{
    top: 998px;
    left: 1142px;
}
.icon04_img{
    position: absolute;
    top: 700px;
    left: 1110px;
}
.icon05 a{
    top: 810px;
    left: 534px;
}
.icon05_img{
    position: absolute;
    top: 464px;
    left: 500px;
}


.footer{
    height: 266px;
    background: #2a2b4a url(../images/main/footer_gwangan_main.png) no-repeat center top 50px;
    text-align: center;
    position: relative;
    padding-top: 500px;
}
.cat{
    position: absolute;
    top:530px ;
    left: 50%;
    margin-left: -100px;
}
.margin3{
    margin:auto;
    width: 1320px;
    position: relative;
    
}






.gwangan{

}
.cat{

}
.font1{
    background: url(../images/main/footer_font1.png) no-repeat center;
    float: left;
    width: 404px;
    height: 85px;
    padding-top: 60px;
    

}
.font2{
    background: url(../images/main/footer_font2.png) no-repeat center;
    float: right;
    width: 428px;
    height: 85px;
    padding-top: 60px;
    
    

}
.sns li{

        float: left;
        padding: 10px 20px;
       
      
    
}
.sns{
    position: absolute;
    top: 132px;
    right: -25px;

}
/*
.insta{
    position: absolute;
    top: 100px;
    right: -50px;
}
.blog{
    position: absolute;
        top: 100px;
        right: -100px;
}
.kakao{
    position: absolute;
        top: 100px;
        right: -150px;
}


   
   




    
    
